.title {
  margin-bottom: 30px;;
}

.title--text {
  font-size: 5vh;
  font-weight: bold;
  text-align: center;
}

.current-time {
  margin-top: 50px;
  margin-bottom: 50px;
}

.current-time__container {
  display: flex;
  width: 100%;
}

.current-time-container__item {
  flex: auto;
  text-align: center;
}

.current-time-container__item--title {
}

.current-time-container__item--value {
  font-weight: bold;
  font-size: 2vh;
}
