body {
  font-family: "Montserrat";
  font-size: 14px;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}

#root {
  overflow: auto;
}

.main-content {
  margin-left: 230px;
}

@media only screen and (max-width: 800px) {
  .main-content {
    margin-left: 50px;
  }
}

@media only screen and (max-width: 700px) {
  .main-content {
    padding-top: 35px;
    margin-left: 0;
  }
}
